lighter:
  max-running-jobs: 5
  max-starting-jobs: 5
  spark-history-server-url: http://localhost/spark-history/
  frontend-path: file:${FRONTEND_PATH:../frontend/build}
  py-gateway-port: 25333
  url: http://lighter.spark:8080
  session:
    timeout-interval: 90m
    timeout-active: false
    permanent-sessions: [ ]
    schedule-interval: 1m
    track-running-interval: 15s
  kubernetes:
    enabled: false
    master: k8s://kubernetes.default.svc.cluster.local:443
    namespace: spark
    service-account: spark
    max-log-size: 500
  storage:
    jdbc:
      url: jdbc:h2:mem:lighter;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;MODE=PostgreSQL
      username: sa
      password: ""
      driver-class-name: org.h2.Driver

# Micronaut specific configs
jackson:
  serializationInclusion: ALWAYS
  serialization:
    writeDatesAsTimestamps: false


shedlock:
  defaults:
    lock-at-most-for: 10m

flyway:
  datasources:
    default:
      enabled: true

datasources:
  default:
    url: ${lighter.storage.jdbc.url}
    username: ${lighter.storage.jdbc.username}
    password: ${lighter.storage.jdbc.password}
    driverClassName: ${lighter.storage.jdbc.driver-class-name}

micronaut:
  server:
    thread-selection: AUTO
    cors:
      enabled: true
  application:
    name: lighter
  router:
    static-resources:
      swagger:
        paths: classpath:META-INF/swagger
        mapping: /swagger/**
      swagger-ui:
        enabled: true
        paths: classpath:META-INF/swagger/views/swagger-ui
        mapping: /swagger-ui/**

  metrics:
    enabled: true
    binders:
      jvm:
        enabled: true
      web:
        enabled: true
      jdbc:
        enabled: true
    export:
      prometheus:
        enabled: true
        step: PT1M
        descriptions: true
