name: Build PR images
on:
  issue_comment:
    types:
      - created

jobs:
  publish-registry-pr:
    if: github.event.issue.pull_request && contains(github.event.comment.body, '/build')
    needs: [ build-frontend, build-java ]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - spark_version: 3.3.3
            hadoop_version: 3
          - spark_version: 3.4.1
            hadoop_version: 3
          - spark_version: 3.5.0
            hadoop_version: 3
    steps:
      - uses: docker/setup-buildx-action@v2
      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - uses: docker/build-push-action@v3
        with:
          push: true
          build-args: |
            SPARK_VERSION=${{ matrix.spark_version }}
            HADOOP_VERSION=${{ matrix.hadoop_version }}
          tags: ghcr.io/exacaster/lighter:${{ github.event.release.tag_name }}-spark${{ matrix.spark_version }}-${{ github.ref_name }}
      - name: Comment PR with Docker Image URL
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            Docker image has been built and pushed.
            Image URL: ghcr.io/exacaster/lighter:${{ github.event.release.tag_name }}-spark${{ matrix.spark_version }}-${{ github.ref_name }}
          token: ${{ github.token }}
