name: Publish image to Github container registry
on:
  workflow_call: { }

jobs:
  publish-registry:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - spark_version: 3.2.3
            hadoop_version: 3.2
          - spark_version: 3.3.2
            hadoop_version: 3
    steps:
      - uses: docker/setup-buildx-action@v2
      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - uses: docker/build-push-action@v3
        with:
          push: true
          build-args: |
            SPARK_VERSION=${{ matrix.spark_version }}
            HADOOP_VERSION=${{ matrix.hadoop_version }}
          tags: ghcr.io/exacaster/lighter:${{ github.event.release.tag_name }}-spark${{ matrix.spark_version }}
